{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
	<form method="post">
		<label for="fullname">Full name:</label>
		<input type="text" id="fullname" name="fullname"><br>
		
		<label for="email">Email address:</label>
		<input type="text" id="email" name="email"><br>
		
		<label for="subject">Subject:</label>
		<input type="text" id="subject" name="subject"><br>
		
		<label for="message">Message:</label><br>
		<textarea id="message" name="message"></textarea><br>
		
		<input type="submit" value="Send">
	</form>
{% endblock %}